/** Imports **/
@import url("reset.css");
@import url("grid.css");
/** Fonts **/
@import url("../assets/fonts/SketchBlockBold/SketchBlockBold.css");
@import url("../assets/fonts/Lato/Lato.css");
@import url("../assets/fonts/AracneCondensed/AracneCondensed.css");
body {
  background: #4c5466;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  background-image: url("../assets/tavle_bg.jpg");
}

.site-content {
  margin-left: 100px;
}

.site-content.config-spacing {
  margin-left: 400px;
}

.beige {
  background: #f6f2ec;
}

.beige.config-content {
  padding: 80px 0;
}

button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
}

.nearbyshop button.main-button {
  width: auto;
  padding: 9px 35px;
  margin: 0 15px 0 0;
  font-size: 0.75rem;
  border: #62b9e9 1px solid;
  background: none;
  color: #62b9e9;
}

.nearbyshop button.main-button.active {
  background: #62b9e9;
  color: #fff;
  padding-right: 37px;
}

.nearbyshop button.main-button.active:hover {
  cursor: pointer;
  -webkit-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
  background: #4499c7;
  color: #fff;
}

button a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
}

.nearbyshop button a.main-button {
  width: auto;
  padding: 9px 35px;
  margin: 0 15px 0 0;
  font-size: 0.75rem;
  border: #62b9e9 1px solid;
  background: none;
  color: #62b9e9;
}

.nearbyshop button a.main-button.active {
  background: #62b9e9;
  color: #fff;
  padding-right: 37px;
}

.nearbyshop button a.main-button:hover {
  cursor: pointer;
  -webkit-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
  background: #4499c7;
  color: #fff;
}

.nearbyshop button.alt-sub-button {
  padding: 9px 25px;
  border: 1px solid #999999;
  border-radius: 25px;
  background: none;
  color: #999999;
  font-size: 0.75rem;
}

.nearbyshop button.alt-sub-button:hover {
  cursor: pointer;
  color: #727272;
  border: 1px solid #727272;
  -webkit-transition: color 0.3s, border 0.3s;
  transition: color 0.3s, border 0.3s;
}

button.main-button {
  display: inline-block;
  padding: 15px 50px;
  background: #62b9e9;
  color: #fff;
  width: 220px;
  border-radius: 25px;
  font-size: 1rem;
  margin-bottom: 20px;
}

button.main-button:hover {
  -webkit-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
  background: #519abe;
  color: #fff;
  cursor: pointer;
}

button.sub-button {
  background: none;
  color: #5d5d5d;
}

button.sub-button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #727272;
  cursor: pointer;
}

h1.heading {
  font-family: SketchBlockBold;
  font-size: 4.25rem;
  line-height: 1.15;
  color: #fff;
}

h1.heading.config-heading {
  margin: 60px 0 5px;
}

h2.shopname {
  font-family: Lato;
  font-size: 1.125rem;
  font-weight: bold;
  color: #202020;
  margin: 0 0 10px;
}

h3 {
  font-family: AracneCondensed;
}

h3.config-desc-heading {
  font-size: 1.4rem;
  color: #92887b;
  margin: 0 0 50px;
}

h4 {
  font-family: AracneCondensed;
}

p.text {
  font-family: Lato;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #fff;
}

p.text.shopaddress {
  font-size: 1rem;
  color: #202020;
  opacity: 0.7;
}

p.text.config-text {
  margin-bottom: 50px;
}

.center-text {
  text-align: center;
}

.config-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 100px;
  width: 300px;
  height: 100vh;
  background: #2a2a2a;
}

.config-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.config-menu ul li {
  list-style: none;
}

.config-menu ul li button {
  color: #fff;
  background: #2a2a2a;
  font-size: 1rem;
  width: 100%;
  text-align: left;
  padding: 24px 40px 24px 40px;
}

.config-menu ul li button:hover {
  background: #202020;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.config-menu ul li button.active {
  background: #202020;
}

.config-menu ul li button i.counter {
  float: right;
  letter-spacing: 2px;
  color: #5d5d5d;
}

.config-menu ul li a {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  color: #fff;
  background: #2a2a2a;
  font-size: 1rem;
  width: 100%;
  display: inline-block;
  text-align: left;
  padding: 24px 40px 24px 40px;
  text-decoration: none;
}

.config-menu ul li a:hover {
  background: #202020;
  cursor: pointer;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.config-menu ul li a.active {
  background: #202020;
}

.config-menu .back-forward-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 35px 0;
}

.config-icecream-wrapper {
  margin: 0 auto 90px;
  width: 25%;
  height: 300px;
}

.config-icecream-wrapper .config-icecream {
  position: relative;
  width: 100%;
  z-index: 80;
}

.config-icecream-wrapper .config-icecream-glow {
  position: relative;
  z-index: 79;
  width: 60%;
  height: 200px;
  top: -220px;
  margin: auto;
  border-radius: 50%;
  -webkit-box-shadow: 0 -5px 40px 5px #d9c8c8;
          box-shadow: 0 -5px 40px 5px #d9c8c8;
}

.item-row {
  margin: 0 0 50px 0;
}

.config-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 200px;
  background: rgba(203, 192, 178, 0.2);
  padding: 40px 0 40px 40px;
}

.config-item .text-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.config-item .text-wrapper h3.item-name {
  font-family: Lato;
  font-weight: bold;
  font-size: 1.125rem;
  color: #202020;
  margin-bottom: 10px;
}

.config-item .text-wrapper h4.item-sub {
  font-family: Lato;
  font-size: 1rem;
  color: #202020;
  margin-bottom: 20px;
}

.config-item .text-wrapper button {
  padding: 9px 20px;
  background: none;
  color: #cbc0b2;
  border: #cbc0b2 solid 2px;
  border-radius: 25px;
  font-size: 1rem;
}

.config-item .text-wrapper button:hover {
  -webkit-transition: 0.3s;
  transition: 0.3s;
  color: #b6a590;
  border: #b6a590 solid 2px;
  cursor: pointer;
}

.config-item .text-wrapper button.active {
  background: #b6a590;
  color: #fff;
  padding-right: 37px;
}

.config-item .text-wrapper button.active:hover {
  cursor: pointer;
  -webkit-transition: color 0.3s, background 0.3s;
  transition: color 0.3s, background 0.3s;
  background: #9e8d78;
  color: #fff;
}

.config-item .item-thumb {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  width: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.config-item .item-thumb img {
  -ms-flex-item-align: end;
      align-self: flex-end;
  width: 80%;
  margin-right: 10px;
}

.config-item .item-add {
  position: absolute;
  bottom: 20px;
  right: calc(20px + 35%);
  height: 30px;
  width: 70px;
  border: 1px solid #92887b;
  border-radius: 30px;
  text-align: center;
  padding: 5px 0;
}

.config-item .item-add span {
  color: #92887b;
}

.config-item .item-add:hover {
  cursor: pointer;
  background: #92887b;
  -webkit-transition: background 0.3s;
  transition: background 0.3s;
}

.config-item .item-add:hover span {
  color: #fff;
  -webkit-transition: color 0.3s;
  transition: color 0.3s;
}

.nearbyshop {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: 100%;
  height: 200px;
  background: #fff;
  padding: 40px 40px;
}

.nearbyshop .buttonwrapper {
  position: absolute;
  bottom: 40px;
}

.searchwrapper {
  margin: 60px 85px;
  height: 80px;
}

.container-wide.config-section {
  padding: 0 105px;
}

#butik .row {
  margin-bottom: 30px;
}

.config-section {
  display: none;
}

.active-section {
  display: block;
}

@media (max-width: 768px) {
  .not-mobile {
    display: none;
  }
  .container-wide {
    padding: 0 40px;
  }
  .site-content {
    margin-left: 0;
  }
  h1.heading {
    font-size: 2rem;
    line-height: 1.15;
  }
  h2.heading {
    font-size: 1.8rem;
    line-height: 1.15;
  }
  h2 p.text {
    font-size: 1rem;
    line-height: 1.6;
  }
  h2 .menu {
    width: 100%;
    height: 70px;
    z-index: 90;
    position: fixed;
    bottom: 0;
    background: #fff;
  }
  h2 .menu .menu-item-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 30px;
  }
  h2 li.menu-item.logo-item {
    display: none;
  }
  h2 .menu-item {
    text-align: center;
    padding: 10px 0;
  }
  h2 .menu-item a {
    font-size: 0.5rem;
    text-decoration: none;
    color: inherit;
  }
  h2 .menu-item a img {
    max-width: 30px;
  }
  h2 .top-menu {
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 90;
    top: 0;
    background: #fff;
    -webkit-transition: top 0.3s;
    transition: top 0.3s;
  }
  h2 .top-menu .top-menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 30px;
  }
  h2 .top-menu .top-menu-wrapper li {
    padding: 12px 0;
  }
  h2 .top-menu .top-menu-wrapper li img {
    height: 100%;
  }
  h2 .top-menu .top-menu-wrapper li.mobile-cart {
    width: 60px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #f5f1f1;
    padding: 24px 0 21px;
  }
  h2 .top-menu .top-menu-wrapper li.mobile-cart img {
    width: 25px;
    height: 23px;
  }
  h2 .logo-text {
    padding-top: 70px;
  }
}

@media (min-width: 769px) and (orientation: portrait) {
  .not-mobile {
    display: none;
  }
  .site-content {
    margin-left: 0px;
  }
  .not-desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .not-desktop {
    display: none;
  }
  /** Menu **/
  .menu {
    width: 100px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    -webkit-box-shadow: 1px 0px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 0px 3px -1px rgba(0, 0, 0, 0.75);
  }
  .menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-wrapper ul {
    width: 100%;
  }
  li.menu-item svg.logo {
    max-width: 50px;
  }
  li.menu-item svg.logo:hover {
    -webkit-animation: icecream-bounce 0.4s ease-in-out 0s 1;
            animation: icecream-bounce 0.4s ease-in-out 0s 1;
  }
  li.menu-item svg.logo:hover #red {
    -webkit-animation: icecream-bounce 0.4s ease-in-out 0.05s 1;
            animation: icecream-bounce 0.4s ease-in-out 0.05s 1;
  }
  li.menu-item svg.logo:hover #white {
    -webkit-animation: icecream-bounce 0.4s ease-in-out 0.1s 1;
            animation: icecream-bounce 0.4s ease-in-out 0.1s 1;
  }
  li.menu-item svg.logo:hover #yellow {
    -webkit-animation: icecream-bounce 0.4s ease-in-out 0.15s 1;
            animation: icecream-bounce 0.4s ease-in-out 0.15s 1;
  }
  .menu-item {
    text-align: center;
    padding: 20px 0;
  }
  .menu-item a {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  .menu-item a img {
    height: 34px;
    width: auto;
    margin: 0 0 4px 0;
  }
  .menu-item:hover:not(.logo-item) {
    background: #eaeaea;
    -webkit-transition: background 0.3s;
    transition: background 0.3s;
  }
}

@media (max-width: 1500px) {
  .container-wide {
    padding: 0 40px;
  }
}

@-webkit-keyframes icecream-bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes icecream-bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=isconfig.css.map */