/** Imports **/
@import url("reset.css");
@import url("grid.css");
/** Fonts **/
@import url("../assets/fonts/SketchBlockBold/SketchBlockBold.css");
@import url("../assets/fonts/Lato/Lato.css");
@import url("../assets/fonts/AracneCondensed/AracneCondensed.css");
body {
  background: #4c5466;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  background-image: url("../assets/tavle_bg.jpg");
}

.site-content {
  margin-left: 120px;
}

.site-content.config-spacing {
  margin-left: 420px;
}

.beige {
  background: #F6F2EC;
}

.beige.config-content {
  padding: 80px 0;
}

button {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  border: none;
  outline: none;
}

button.main-button {
  display: inline-block;
  padding: 15px 50px;
  background: #62B9E9;
  color: #fff;
  width: 220px;
  border-radius: 25px;
  font-size: 1rem;
  margin-bottom: 20px;
}

button.main-button:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #519abe;
  cursor: pointer;
}

button.sub-button {
  background: none;
  color: #5D5D5D;
}

button.sub-button:hover {
  -webkit-transition: .3s;
  transition: .3s;
  color: #727272;
  cursor: pointer;
}

h1.heading {
  font-family: SketchBlockBold;
  font-size: 4.25rem;
  line-height: 1.15;
  color: #fff;
}

h1.heading.config-heading {
  margin: 60px 0 5px;
}

h3 {
  font-family: AracneCondensed;
}

h3.config-desc-heading {
  font-size: 1.25rem;
  color: #92887B;
}

h4 {
  font-family: AracneCondensed;
}

p.text {
  font-family: Lato;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #fff;
}

.center-text {
  text-align: center;
}

.config-menu {
  position: fixed;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  left: 120px;
  width: 300px;
  height: 100vh;
  background: #2A2A2A;
}

.config-menu ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.config-menu ul li {
  list-style: none;
  color: #fff;
  font-size: 1rem;
  padding: 24px 40px 24px 40px;
}

.config-menu ul li:hover {
  background: #202020;
  cursor: pointer;
}

.config-menu ul li.active {
  background: #202020;
}

.config-menu ul li i.counter {
  float: right;
  letter-spacing: 2px;
  color: #5D5D5D;
}

.config-menu .back-forward-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin: 0 0 35px 0;
}

.config-icecream-wrapper {
  margin: 90px auto;
  width: 25%;
  height: 300px;
}

.config-icecream-wrapper .config-icecream {
  position: relative;
  width: 100%;
  z-index: 80;
}

.config-icecream-wrapper .config-icecream-glow {
  position: relative;
  z-index: 79;
  width: 60%;
  height: 200px;
  top: -220px;
  margin: auto;
  border-radius: 50%;
  -webkit-box-shadow: 0 -5px 40px 5px #D9C8C8;
          box-shadow: 0 -5px 40px 5px #D9C8C8;
}

.config-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  background: #E9E2D8;
  margin: 25% 0 0 0;
  padding: 25px;
  width: 66.66%;
  height: 200px;
}

.config-item .item-text-wrapper {
  position: absolute;
  bottom: 25px;
}

.config-item .item-text-wrapper h3.item-name {
  font-size: 1.8rem;
  color: #92887B;
}

.config-item .item-text-wrapper h4.item-price {
  font-size: 1.3rem;
}

.config-item .item-thumb {
  width: 70%;
  position: absolute;
  right: 16.666%;
  top: 0;
}

.config-item .item-thumb img {
  width: 100%;
}

@media (max-width: 768px) {
  .not-mobile {
    display: none;
  }
  .container-wide {
    padding: 0 40px;
  }
  .site-content {
    margin-left: 0;
  }
  h1.heading {
    font-size: 2rem;
    line-height: 1.15;
  }
  h2.heading {
    font-size: 1.8rem;
    line-height: 1.15;
  }
  h2 p.text {
    font-size: 1rem;
    line-height: 1.6;
  }
  h2 .menu {
    width: 100%;
    height: 70px;
    z-index: 90;
    position: fixed;
    bottom: 0;
    background: #fff;
  }
  h2 .menu .menu-item-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 30px;
  }
  h2 li.menu-item.logo-item {
    display: none;
  }
  h2 .menu-item {
    text-align: center;
    padding: 10px 0;
  }
  h2 .menu-item a {
    font-size: .5rem;
    text-decoration: none;
    color: inherit;
  }
  h2 .menu-item a img {
    max-width: 30px;
  }
  h2 .top-menu {
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 90;
    top: 0;
    background: #fff;
    -webkit-transition: top .3s;
    transition: top .3s;
  }
  h2 .top-menu .top-menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 30px;
  }
  h2 .top-menu .top-menu-wrapper li {
    padding: 12px 0;
  }
  h2 .top-menu .top-menu-wrapper li img {
    height: 100%;
  }
  h2 .top-menu .top-menu-wrapper li.mobile-cart {
    width: 60px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #F5F1F1;
    padding: 24px 0 21px;
  }
  h2 .top-menu .top-menu-wrapper li.mobile-cart img {
    width: 25px;
    height: 23px;
  }
  h2 .logo-text {
    padding-top: 70px;
  }
}

@media (min-width: 769px) and (orientation: portrait) {
  .not-mobile {
    display: none;
  }
  .site-content {
    margin-left: 0px;
  }
  .not-desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .not-desktop {
    display: none;
  }
  /** Menu **/
  .menu {
    width: 120px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    -webkit-box-shadow: 1px 0px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 0px 3px -1px rgba(0, 0, 0, 0.75);
  }
  .menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-wrapper ul {
    width: 100%;
  }
  li.menu-item svg.logo {
    max-width: 50px;
  }
  li.menu-item svg.logo:hover {
    -webkit-animation: icecream-bounce .4s ease-in-out 0s 1;
            animation: icecream-bounce .4s ease-in-out 0s 1;
  }
  li.menu-item svg.logo:hover #red {
    -webkit-animation: icecream-bounce .4s ease-in-out .05s 1;
            animation: icecream-bounce .4s ease-in-out .05s 1;
  }
  li.menu-item svg.logo:hover #white {
    -webkit-animation: icecream-bounce .4s ease-in-out .1s 1;
            animation: icecream-bounce .4s ease-in-out .1s 1;
  }
  li.menu-item svg.logo:hover #yellow {
    -webkit-animation: icecream-bounce .4s ease-in-out .15s 1;
            animation: icecream-bounce .4s ease-in-out .15s 1;
  }
  .menu-item {
    text-align: center;
    padding: 20px 0;
  }
  .menu-item a {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  .menu-item a img {
    height: 34px;
    width: auto;
    margin: 0 0 4px 0;
  }
  .menu-item:hover:not(.logo-item) {
    background: #EAEAEA;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
}

@media (max-width: 1500px) {
  .container-wide {
    padding: 0 40px;
  }
}

@-webkit-keyframes icecream-bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes icecream-bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=isconfig.css.map */