/** Imports **/
@import url("reset.css");
@import url("grid.css");
/** Fonts **/
@import url("../assets/fonts/OpenSans/OpenSans.css");
@import url("../assets/fonts/SketchBlockBold/SketchBlockBold.css");
@import url("../assets/fonts/Lato/Lato.css");
@import url("../assets/fonts/AracneCondensed/AracneCondensed.css");
body {
  background: #4c5466;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  background-image: url("../assets/tavle_bg.jpg");
}

body.login {
  background: #fff;
  background-image: none;
}

.site-content {
  margin-left: 120px;
}

.header-bg {
  padding-top: 40px;
  background: #31343b;
  background: -webkit-gradient(linear, left top, right top, from(#31343b), to(#444850));
  background: linear-gradient(90deg, #31343b 0%, #444850 100%);
}

.beige {
  background: #F6F2EC;
}

.main-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-button a {
  border: 2px solid #fff;
  border-radius: 23px;
  padding: 12px 25px 14px;
  color: #fff;
  text-decoration: none;
}

.main-button a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: rgba(255, 255, 255, 0.15);
}

.main-button.header-button {
  margin: 0 0 130px;
}

.main-button.eco-button {
  margin: 0 0 0 50px;
}

.main-button.eco-button a {
  color: #202020;
  border-color: #202020;
}

.main-button.eco-button a:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #202020;
  color: #fff;
}

.logo-text svg {
  height: 46px;
}

h1.heading {
  font-family: SketchBlockBold;
  font-size: 4.25rem;
  line-height: 1.15;
  color: #fff;
}

h1.heading.header-heading {
  margin: 140px 0 25px;
}

h2.login-heading {
  font-family: Lato;
  font-size: 1.75rem;
  color: #202020;
  margin-bottom: 10px;
}

h2.heading {
  font-family: SketchBlockBold;
  font-size: 3.125rem;
  line-height: 1.15;
}

h2.heading.eco-heading {
  margin: 100px 0 30px;
  color: #202020;
  padding: 0 0 0 50px;
}

h2.heading.some-header {
  margin: 100px 0 90px;
  color: #fff;
}

h3 {
  font-family: AracneCondensed;
}

h3.footer-heading {
  font-size: 1.875rem;
}

h3.footer-heading::after {
  content: '';
  display: block;
  margin: 10px 0 20px 0;
  width: 80px;
  height: 8px;
  background-image: url("../assets/stroke.svg");
  background-size: 100% 100%;
}

p.text {
  font-family: Lato;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #fff;
}

p.text.header-text {
  margin: 0 0 40px;
}

p.text.eco-text {
  margin: 0 0 40px;
  padding: 0 0 0 50px;
  color: #202020;
}

p.text.footer-text {
  color: #202020;
  font-size: .8125rem;
  margin: 13px 0;
}

p.text.login-text {
  color: #989da8;
  font-size: .875rem;
  margin-bottom: 40px;
}

p.text.powered {
  margin-top: 0px;
  color: #4E8DE5;
}

p.text.copyright {
  margin-bottom: 2px;
  color: #8C8C8C;
}

.header-icecream {
  background-image: url("../assets/icecream-cone-header.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 55%;
}

.fit-to-col {
  width: 100%;
}

.eco-img {
  margin: 100px 0 0;
}

.eco-icon {
  position: absolute;
  right: 0;
  top: 100px;
  height: 80px;
  padding: 5px;
  margin: 10px;
  opacity: .15;
}

.scroll-for-more {
  width: 120px;
  position: absolute;
  bottom: 40px;
  left: 530px;
  opacity: .6;
}

.center-text {
  text-align: center;
}

.some-img {
  border: 10px solid #fff;
  margin: 0 0 30px;
}

.container-wide.some-container {
  margin-bottom: 100px;
}

.container-wide.eco-container {
  padding-bottom: 90px;
}

.some-icon-wrapper svg {
  width: 32px;
  margin-right: 7px;
}

.some-icon-wrapper svg:hover {
  -webkit-transform: rotate(-5deg) scale(1.2);
          transform: rotate(-5deg) scale(1.2);
  -webkit-transition: all .3s;
  transition: all .3s;
  cursor: pointer;
}

footer {
  padding: 100px 0;
}

footer li {
  margin: 0 0 13px 0;
}

footer a {
  text-decoration: none;
  color: inherit;
}

footer a:hover {
  text-decoration: underline;
}

footer a.open-times {
  color: #3477DB;
}

.btn {
  color: #3477DB;
  min-width: 154px;
  margin-right: 50px;
  padding: 0 0 8px 0;
  position: relative;
  text-align: center;
}

.btn:hover .button-stroke:nth-child(2) {
  stroke-dashoffset: 0;
}

.button-stroke {
  display: block;
  width: 100%;
  height: 9px;
  stroke: transparent;
  position: absolute;
  left: 0;
  bottom: -5px;
}

.button-stroke:nth-child(2) {
  stroke-dasharray: 650px;
  stroke-dashoffset: 650px;
  stroke: #4d87dd;
  stroke-width: 2;
  -webkit-transition: stroke-dashoffset 800ms ease-out;
  transition: stroke-dashoffset 800ms ease-out;
}

b {
  font-weight: bold;
}

.login-hero-container {
  background: #202020;
  position: absolute;
  right: 0;
  height: 100%;
}

.login-hero {
  height: 100%;
  opacity: .8;
}

.login-logo {
  position: absolute;
  left: 0;
  width: 46px;
  margin: 80px 0 0 15px;
}

form.login-form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

form input {
  font-size: 1rem;
  color: #8E9091;
  padding: 24px 30px 16px;
  border: #C5C9D5 solid 1px;
  width: 100%;
  outline: none;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

form input.top {
  border-radius: 3px 3px 0 0;
}

form input.top:focus + .label-email {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: .75rem;
}

form input.top:valid + .label-email {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: .75rem;
}

form input.bottom {
  border-radius: 0 0 3px 3px;
  margin-top: -1px;
}

form input.bottom:focus + .label-password {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: .75rem;
}

form input.bottom:valid + .label-password {
  -webkit-transform: translateY(-100%);
          transform: translateY(-100%);
  font-size: .75rem;
}

form input.login-button {
  padding: 13px 45px;
  background: #62B9E9;
  color: #fff;
  border: none;
  width: 145px;
  border-radius: 25px;
  margin-top: 30px;
}

form input.login-button:hover {
  -webkit-transition: .3s;
  transition: .3s;
  background: #59A9D1;
  cursor: pointer;
}

form input#cookie {
  width: 13px;
  height: 13px;
  padding: 0;
  margin: 0;
}

.email-input {
  position: relative;
}

.email-input .label-email {
  position: absolute;
  left: 30px;
  top: 20px;
  font-size: 1rem;
  color: #8E9091;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.password-input {
  position: relative;
}

.password-input .label-password {
  position: absolute;
  left: 30px;
  top: 20px;
  font-size: 1rem;
  color: #8E9091;
  -webkit-transition: all .3s ease;
  transition: all .3s ease;
}

.cookie-wrapper {
  margin-top: 15px;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.cookie-wrapper label {
  font-size: .75rem;
  color: #989da8;
  padding-bottom: 2px;
}

.cookie-wrapper label.forgot-password {
  -webkit-box-flex: 1;
      -ms-flex-positive: 1;
          flex-grow: 1;
  position: absolute;
  right: 15px;
}

.cookie-wrapper label.forgot-password:hover {
  color: #202020;
  cursor: pointer;
  -webkit-transition: .3s;
  transition: .3s;
}

.si {
  --color-default: #dee5f2;
  --color-active: #62B9E9;
  --rotate-default: 180deg;
  --rotate-active: 40deg;
  --border-size-checkmark: 2px;
  --border-size-box: 1px;
  --input-size: 20px;
  --guter: 15px;
}

.si,
.si *,
.si *::before,
.si *::after {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.si {
  cursor: pointer;
  position: relative;
}

.si .si-label {
  display: inline-block;
  padding-left: var(--guter);
  color: #9aa6bf;
  vertical-align: text-top;
}

.si .si-label::before,
.si .si-label::after {
  -webkit-transition: all 0.2s ease-in-out;
  transition: all 0.2s ease-in-out;
}

.si .si-label::before {
  content: '';
  display: block;
  width: var(--input-size);
  height: var(--input-size);
  border: var(--border-size-box) solid var(--color-default);
  position: absolute;
  top: -3px;
  left: 0;
  -webkit-transform: rotate(0deg) scale(1);
          transform: rotate(0deg) scale(1);
}

.si .si-label:hover::before {
  border-color: var(--color-active);
}

.si.si-switcher .si-label {
  padding-left: 45px;
}

.si.si-switcher .si-label::before {
  content: '';
  width: 36px;
  height: 20px;
  border-radius: 20px;
  top: -2px;
}

.si.si-switcher .si-label::after {
  content: '';
  border-radius: 4px;
  width: 6px;
  height: 12px;
  background-color: var(--color-default);
  position: absolute;
  top: 2px;
  left: 7px;
}

.si.si-switcher > input:checked + .si-label::before {
  background-color: var(--color-active);
  border-color: var(--color-active);
}

.si.si-switcher > input:checked + .si-label::after {
  background-color: #fff;
  left: 24px;
}

.login-wrapper {
  margin: 260px 0 0 0;
}

.login-wrapper .copyright-wrapper {
  margin-top: 80px;
}

@media (max-width: 768px) {
  .not-mobile {
    display: none;
  }
  .container-wide {
    padding: 0 40px;
  }
  .login-logo {
    margin-left: 40px;
    margin-top: 40px;
  }
  .login-wrapper {
    margin: 190px 0 0 0;
  }
  .login-wrapper .copyright-wrapper {
    margin-top: 80px;
  }
  .cookie-wrapper label {
    margin-left: 5px;
  }
  .site-content {
    margin-left: 0;
  }
  h1.heading {
    font-size: 2rem;
    line-height: 1.15;
  }
  h1.heading.header-heading {
    margin: 100px 0 25px;
  }
  h2.heading {
    font-size: 1.8rem;
    line-height: 1.15;
  }
  h2.heading.eco-heading {
    margin: 50px 0 30px;
    padding: 0 0 0 0;
  }
  h2.heading.some-header {
    margin: 50px 0 40px;
  }
  .header-icecream {
    background-image: none;
  }
  .scroll-for-more {
    left: 200px;
  }
  p.text {
    font-size: 1rem;
    line-height: 1.6;
  }
  p.text.header-text {
    margin: 0 0 40px;
  }
  p.text.eco-text {
    margin: 0 0 40px;
    padding: 0 0 0 0;
  }
  p.text.footer-text {
    font-size: .8125rem;
    margin: 13px 0;
  }
  .main-button.header-button {
    margin: 0 0 130px;
  }
  .main-button.eco-button {
    margin: 0 0 0 0;
  }
  .eco-img {
    margin-top: 50px;
  }
  .eco-icon {
    top: 38px;
    right: -10px;
    height: 40px;
  }
  .some-img {
    border: 5px solid #fff;
    margin-bottom: 15px;
  }
  .container-wide.some-container {
    margin-bottom: 50px;
  }
  h3.footer-heading {
    margin-top: 35px;
  }
  footer {
    padding: 50px 0;
  }
  .menu {
    width: 100%;
    height: 70px;
    z-index: 90;
    position: fixed;
    bottom: 0;
    background: #fff;
  }
  .menu .menu-item-list {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    padding: 0 30px;
  }
  li.menu-item.logo-item {
    display: none;
  }
  .menu-item {
    text-align: center;
    padding: 10px 0;
  }
  .menu-item a {
    font-size: .5rem;
    text-decoration: none;
    color: inherit;
  }
  .menu-item a img {
    max-width: 30px;
  }
  #menu-cup {
    height: 38px;
    width: 42px;
  }
  #menu-shop {
    height: 38px;
    width: 42px;
  }
  #menu-bell {
    height: 38px;
    width: 42px;
  }
  #menu-cart {
    height: 38px;
    width: 42px;
  }
  #menu-info {
    height: 38px;
    width: 38px;
  }
  .top-menu {
    height: 70px;
    width: 100%;
    position: fixed;
    z-index: 90;
    top: 0;
    background: #fff;
    -webkit-transition: top .3s;
    transition: top .3s;
  }
  .top-menu .top-menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    padding: 0 30px;
  }
  .top-menu .top-menu-wrapper li {
    padding: 12px 0;
  }
  .top-menu .top-menu-wrapper li img {
    height: 100%;
  }
  .top-menu .top-menu-wrapper li.mobile-cart {
    width: 60px;
    height: 100%;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    background: #F5F1F1;
    padding: 24px 0 21px;
  }
  .top-menu .top-menu-wrapper li.mobile-cart img {
    width: 25px;
    height: 23px;
  }
  .logo-text {
    padding-top: 70px;
  }
}

@media (min-width: 769px) and (orientation: portrait) {
  .not-mobile {
    display: none;
  }
  .login-row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
  .login-logo {
    margin-left: calc(16.66% + 15px);
  }
  .site-content {
    margin-left: 0px;
  }
  .header-icecream {
    background-position-x: 100%;
  }
  .scroll-for-more {
    left: 480px;
  }
  .not-desktop {
    display: none;
  }
}

@media (min-width: 768px) {
  .not-desktop {
    display: none;
  }
  .header-icecream {
    background-image: url(/assets/icecream-cone-header.png);
    background-position-x: 90% !important;
  }
  /** Menu **/
  .menu {
    width: 120px;
    height: 100vh;
    position: fixed;
    top: 0;
    left: 0;
    background: #fff;
    -webkit-box-shadow: 1px 0px 3px -1px rgba(0, 0, 0, 0.75);
    box-shadow: 1px 0px 3px -1px rgba(0, 0, 0, 0.75);
  }
  .menu-wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  .menu-wrapper ul {
    width: 100%;
  }
  li.menu-item svg.logo {
    max-width: 50px;
  }
  li.menu-item svg.logo:hover {
    -webkit-animation: icecream-bounce .4s ease-in-out 0s 1;
            animation: icecream-bounce .4s ease-in-out 0s 1;
  }
  li.menu-item svg.logo:hover #red {
    -webkit-animation: icecream-bounce .4s ease-in-out .05s 1;
            animation: icecream-bounce .4s ease-in-out .05s 1;
  }
  li.menu-item svg.logo:hover #white {
    -webkit-animation: icecream-bounce .4s ease-in-out .1s 1;
            animation: icecream-bounce .4s ease-in-out .1s 1;
  }
  li.menu-item svg.logo:hover #yellow {
    -webkit-animation: icecream-bounce .4s ease-in-out .15s 1;
            animation: icecream-bounce .4s ease-in-out .15s 1;
  }
  .menu-item {
    text-align: center;
    padding: 20px 0;
  }
  .menu-item a {
    text-decoration: none;
    color: inherit;
    display: block;
  }
  .menu-item:hover:not(.logo-item) {
    background: #EAEAEA;
    -webkit-transition: all .3s;
    transition: all .3s;
  }
  #menu-cup {
    height: 38px;
    width: 42px;
  }
  #menu-shop {
    height: 38px;
    width: 42px;
  }
  #menu-bell {
    height: 36px;
    width: 42px;
  }
  #menu-cart {
    height: 38px;
    width: 42px;
    position: relative;
    right: 4px;
  }
  #menu-info {
    height: 38px;
    width: 38px;
  }
}

@media (min-width: 992px) {
  .header-icecream {
    background-position-x: 55%;
  }
}

@media (max-width: 1500px) {
  .container-wide {
    padding: 0 40px;
  }
  .login-logo {
    margin-left: 40px;
    margin-top: 40px;
  }
  .login-wrapper {
    margin: 190px 0 0 0;
  }
}

@-webkit-keyframes icecream-bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}

@keyframes icecream-bounce {
  0% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
  50% {
    -webkit-transform: translateY(-5px);
            transform: translateY(-5px);
  }
  100% {
    -webkit-transform: translateY(0px);
            transform: translateY(0px);
  }
}
/*# sourceMappingURL=main.css.map */