/** Imports **/
@import url("reset.css");
@import url("grid.css");
/** Fonts **/
@import url("../assets/fonts/OpenSans/OpenSans.css");
@import url("../assets/fonts/SketchBlockBold/SketchBlockBold.css");
@import url("../assets/fonts/Lato/Lato.css");
@import url("../assets/fonts/AracneCondensed/AracneCondensed.css");

body {
    background: #4c5466;
	font-family: Lato;
	font-weight: 400;
	font-size: 16px;
    background-image: url('../assets/tavle_bg.jpg');
    &.login {
        background: #fff;
        background-image: none;
    }
}

//Page
.site-content {
    margin-left: 120px;
    &.config-spacing {
        margin-left: 420px;
    }
}

.header-bg {
    padding-top: 40px;
    background: rgb(49,52,59);
    background: linear-gradient(90deg, rgba(49,52,59,1) 0%, rgba(68,72,80,1) 100%);
}

.beige {
    background: #F6F2EC;
}

button {
    box-sizing: border-box;
    border: none;
    outline: none;
    &.main-button {
        padding: 15px 50px;
        background: #62B9E9;
        color: #fff;
        width: 220px;
        border-radius: 25px;
        font-size: 1.125rem;
        margin-bottom: 20px;
        &:hover {
            transition: .3s;
            background: #59A9D1;
            cursor: pointer;
        }
    }
    &.sub-button {
        background: none;
        color: #5D5D5D;
        &:hover {
            transition: .3s;
            color: #727272;
            cursor: pointer;
        }
    }
}

.main-button {
    display: flex;
    align-items: center;
    a {
        border: 2px solid #fff;
        border-radius: 23px;
        padding: 12px 25px 14px;
        color: #fff;
        text-decoration: none;
        &:hover {
            transition: .3s;
            background: rgba($color: #fff, $alpha: .15);
        }
    }
    &.header-button {
        margin: 0 0 130px;
    }
    &.eco-button {
        margin: 0 0 0 50px;
        a {
            color: #202020;
            border-color: #202020;
            &:hover {
                transition: .3s;
                background: #202020;
                color: #fff;
            }
        }
    }
}

.logo-text {
    svg {
        height: 46px;
    }
}

h1.heading {
    font-family: SketchBlockBold;
    font-size: 4.25rem;
    line-height: 1.15;
    color: #fff;
    &.header-heading {
        margin: 140px 0 25px;
    }
    &.config-heading {
        margin: 60px 0 5px;
    }
}

h2 {
    &.login-heading {
        font-family: Lato;
        font-size: 1.75rem;
        color: #202020;
        margin-bottom: 10px;
    }
    &.heading {
        font-family: SketchBlockBold;
        font-size: 3.125rem;
        line-height: 1.15;
        &.eco-heading {
            margin: 100px 0 30px;
            color: #202020;
            padding: 0 0 0 50px;
        }
        &.some-header {
            margin: 100px 0 90px;
            color: #fff;
        }
    }
}

h3 {
    font-family: AracneCondensed;
    &.footer-heading {
        font-size: 1.875rem;
        &::after {
            content: '';
            display: block;
            margin: 10px 0 20px 0;
            width: 80px;
            height: 8px;
            background-image: url('../assets/stroke.svg');
            background-size: 100% 100%;
        }
    }
}

p.text {
    font-family: Lato;
    font-size: 1.2rem;
    line-height: 1.6;
    color: #fff;
    &.header-text {
        margin: 0 0 40px;
    }
    &.eco-text {
        margin: 0 0 40px;
        padding: 0 0 0 50px;
        color: #202020;
    }
    &.footer-text {
        color: #202020;
        font-size: .8125rem;
        margin: 13px 0;
    }
    &.login-text {
        color: #989da8;
        font-size: .875rem;
        margin-bottom: 40px;
    }
    &.powered {
        margin-top: 0px;
        color: #4E8DE5;
    }
    &.copyright {
        margin-bottom: 2px;
        color: #8C8C8C;
    }
}

.header-icecream {
    background-image: url('../assets/icecream-cone-header.png');
    background-size: contain;
    background-repeat: no-repeat;
    background-position-x: 55%;
}

.fit-to-col {
    width: 100%;
}

.eco-img {
    margin: 100px 0 0;
}

.eco-icon {
    position: absolute;
    right: 0;
    top: 100px;
    height: 80px;
    padding: 5px;
    margin: 10px;
    opacity: .15;
}

.scroll-for-more {
    width: 120px;
    position: absolute;
    bottom: 40px;
    left: 530px;
    opacity: .6;
}

.center-text {
    text-align: center;
}

.some-img {
    border: 10px solid #fff;
    margin: 0 0 30px;
}

.container-wide {
    &.some-container {
        margin-bottom: 100px;
    }
    &.eco-container {
        padding-bottom: 90px;
    }
}

.some-icon-wrapper {
    svg {
        width: 32px;
        margin-right: 7px;
        &:hover {
            transform: rotate(-5deg) scale(1.2);
            transition: all .3s;
            cursor: pointer;
        }
    }
}

footer {
    padding: 100px 0;
    li {
        margin: 0 0 13px 0;
    }
    a {
        text-decoration: none;
        color: inherit;
        &:hover {
            text-decoration: underline;
        }
        &.open-times {
            color: #3477DB;
        }
    }
}

.btn {
	color: #3477DB;
	min-width: 154px;
	margin-right: 50px;
	padding: 0 0 8px 0;
	position: relative;
	text-align: center;
	
	&:hover {
		.button-stroke:nth-child(2) {
			stroke-dashoffset: 0;
		}
	}
}

.button-stroke {
	display: block;
	width: 100%;
	height: 9px;
	stroke: transparent;
	position: absolute;
	left: 0;
	bottom: -5px;
	//stroke-width: 1;
	
	&:nth-child(2) {
		stroke-dasharray: 650px;
		stroke-dashoffset: 650px;
		stroke: rgb(77, 135, 221);
		stroke-width: 2;
		transition: stroke-dashoffset 800ms ease-out;
	}
}

b {
    font-weight: bold;
}


// Login page
.login-hero-container {
    background: #202020;
    position: absolute;
    right: 0;
    height: 100%;
}

.login-hero {
    height: 100%;
    opacity: .8;
}

.login-logo {
    position: absolute;
    left: 0;
    width: 46px;
    margin: 80px 0 0 15px;
}

form {
    &.login-form {
        display: flex;
        flex-direction: column;
    }
    input {
        font-size: 1rem;
        color: #8E9091;
        padding: 24px 30px 16px;
        border: #C5C9D5 solid 1px;
        width: 100%;
        outline: none;
        -webkit-appearance: none;
        -moz-appearance: none;
        appearance: none;
        &.top {
            border-radius: 3px 3px 0 0;
            &:focus + .label-email {
                transform: translateY(-100%);
                font-size: .75rem;
            }
            &:valid + .label-email {
                transform: translateY(-100%);
                font-size: .75rem;
            }
        }
        &.bottom {
            border-radius: 0 0 3px 3px;
            margin-top: -1px;
            &:focus + .label-password{
                transform: translateY(-100%);
                font-size: .75rem;
            }
            &:valid + .label-password{
                transform: translateY(-100%);
                font-size: .75rem;
            }
        }
        &.login-button {
            padding: 13px 45px;
            background: #62B9E9;
            color: #fff;
            border: none;
            width: 145px;
            border-radius: 25px;
            margin-top: 30px;
            &:hover {
                transition: .3s;
                background: #59A9D1;
                cursor: pointer;
                //box-shadow: inset #4c5466 0 0 0 50px;
            }
        }
        &#cookie {
            width: 13px;
            height: 13px;
            padding: 0;
            margin: 0;
        }
    }
}

.email-input {
    position: relative;
    .label-email {
        position: absolute;
        left: 30px;
        top: 20px;
        font-size: 1rem;
        color: #8E9091;
        transition: all .3s ease;
    }
}

.password-input {
    position: relative;
    .label-password {
        position: absolute;
        left: 30px;
        top: 20px;
        font-size: 1rem;
        color: #8E9091;
        transition: all .3s ease;
    }
}

.cookie-wrapper {
    margin-top: 15px;
    display: flex;
    align-items: center;
    label {
        font-size: .75rem;
        color: #989da8;
        padding-bottom: 2px;
        &.forgot-password {
            flex-grow: 1;
            position: absolute;
            right: 15px;
            &:hover {
                color: #202020;
                cursor: pointer;
                transition: .3s;
            }
        }
    }
}

// Switcher

.si {
    --color-default: #dee5f2;
    --color-active: #62B9E9;
    --rotate-default: 180deg;
    --rotate-active: 40deg;
    --border-size-checkmark: 2px;
    --border-size-box: 1px;
    --input-size: 20px;
    --guter: 15px;
}

.si,
.si *,
.si *::before,
.si *::after {
    box-sizing: border-box;
}

.si {
    cursor: pointer;
    position: relative;
}

.si .si-label {
    display: inline-block;
    padding-left: var(--guter);
    color: #9aa6bf;
    vertical-align: text-top;
}

.si .si-label::before,
.si .si-label::after {
    transition: all 0.2s ease-in-out;
}

.si .si-label::before {
    content: '';
    display: block;
    width: var(--input-size);
    height: var(--input-size);
    border: var(--border-size-box) solid var(--color-default);
    position: absolute;
    top: -3px;
    left: 0;
    transform: rotate(0deg) scale(1);
}

.si .si-label:hover::before {
    border-color: var(--color-active);
}

.si.si-switcher .si-label {
    padding-left: 45px;
}

.si.si-switcher .si-label::before {
    content: '';
    width: 36px;
    height: 20px;
    border-radius: 20px;
    top: -2px;
}

.si.si-switcher .si-label::after {
    content: '';
    border-radius: 4px;
    width: 6px;
    height: 12px;
    background-color: var(--color-default);
    position: absolute;
    top: 2px;
    left: 7px;
}

.si.si-switcher>input:checked+.si-label::before {
    background-color: var(--color-active);
    border-color: var(--color-active);
}

.si.si-switcher>input:checked+.si-label::after {
    background-color: #fff;
    left: 24px;
}

//Switcher end

.login-wrapper {
    margin: 260px 0 0 0;
    .copyright-wrapper {
        margin-top: 80px;
    }
}

// Icecream config
.config-menu {
    position: fixed;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    left: 120px;
    width: 300px;
    height: 100vh;
    background: #2A2A2A;
    ul {
        display: flex;
        flex-direction: column;
        li {
            list-style: none;
            color: #fff;
            font-size: 1.125rem;
            padding: 24px 40px 24px 40px;
            &:hover {
                background: #202020;
                cursor: pointer;
            }
            &.active {
                background: #202020;
            }
            i.counter {
                float: right;
                letter-spacing: 2px;
                color: #5D5D5D;
            }
        }
    }
    .back-forward-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        margin: 0 0 35px 0;
    }
}

.config-icecream {
    margin: 90px 0;
    box-shadow: 120px 80px 40px 20px #D9C8C8;
}

@media (max-width: 768px) {
    .not-mobile {
        display: none;
    }
    .container-wide {
        padding: 0 40px;
    }
    .login-logo {
        margin-left: 40px;
        margin-top: 40px;
    }
    .login-wrapper {
        margin: 190px 0 0 0;
        .copyright-wrapper {
            margin-top: 80px;
        }
    }
    .cookie-wrapper {
        label {
            margin-left: 5px;
        }
    }
    .site-content {
        margin-left: 0;
    }
    h1.heading {
        font-size: 2rem;
        line-height: 1.15;
        &.header-heading {
            margin: 100px 0 25px;
        }
    }
    h2 {
        &.heading {
            font-size: 1.8rem;
            line-height: 1.15;
            &.eco-heading {
                margin: 50px 0 30px;
                padding: 0 0 0 0;
            }
            &.some-header {
                margin: 50px 0 40px;
            }
        }
    }
    .header-icecream {
        background-image: none;
    }
    .scroll-for-more {
        left: 200px;
    }
    p.text {
        font-size: 1rem;
        line-height: 1.6;
        &.header-text {
            margin: 0 0 40px;
        }
        &.eco-text {
            margin: 0 0 40px;
            padding: 0 0 0 0;
        }
        &.footer-text {
            font-size: .8125rem;
            margin: 13px 0;
        }
    }
    .main-button {
        &.header-button {
            margin: 0 0 130px;
        }
        &.eco-button {
            margin: 0 0 0 0;
        }
    }
    .eco-img {
        margin-top: 50px;
    }
    .eco-icon {
        top: 38px;
        right: -10px;
        height: 40px;
    }
    .some-img {
        border: 5px solid #fff;
        margin-bottom: 15px;
    }
    .container-wide {
        &.some-container {
            margin-bottom: 50px;
        }
    }
    h3.footer-heading {
        margin-top: 35px;
    }
    footer {
        padding: 50px 0;
    }
    //Tab bar
    .menu {
        width: 100%;
        height: 70px;
        z-index: 90;
        position: fixed;
        bottom: 0;
        background: #fff;
        .menu-item-list {
            display: flex;
            flex-direction: row;
            justify-content: space-around;
            padding: 0 30px;
        }
    }
    li.menu-item.logo-item {
        display: none;
    }

    .menu-item {
        text-align: center;
        padding: 10px 0;
        a {
            font-size: .5rem;
            text-decoration: none;
            color: inherit;
            img {
                max-width: 30px;
            }
        }
    }

    #menu-cup {
        height: 38px;
        width: 42px;
    }

    #menu-shop {
        height: 38px;
        width: 42px;
    }

    #menu-bell {
        height: 38px;
        width: 42px;
    }

    #menu-cart {
        height: 38px;
        width: 42px;
    }

    #menu-info {
        height: 38px;
        width: 38px;
    }
    // Top menu
    .top-menu {
        height: 70px;
        width: 100%;
        position: fixed;
        z-index: 90;
        top: 0;
        background: #fff;
        transition: top .3s;
        .top-menu-wrapper {
            display: flex;
            flex-direction: row;
            justify-content: space-between;
            padding: 0 30px;
            li {
                padding: 12px 0;
                img {
                    height: 100%;
                }
                &.mobile-cart {
                    width: 60px;
                    height: 100%;
                    display: flex;
                    flex-direction: column;
                    align-items: center;
                    background: #F5F1F1;
                    padding: 24px 0 21px;
                    img {
                        width: 25px;
                        height: 23px;
                    }
                }
            }
        }
    }
    .logo-text {
        padding-top: 70px;
    }
}

@media (min-width: 769px) and (orientation: portrait) {
    .not-mobile {
        display: none;
    }
    .login-row {
        display: flex;
        align-items: center;
        flex-direction: column;
    }
    .login-logo {
        margin-left: calc(16.66% + 15px);
    }
    .site-content {
        margin-left: 0px;
    }
    .header-icecream {
        background-position-x: 100%;
    }
    .scroll-for-more {
        left: 480px;
    }
    .not-desktop {
        display: none;
    }
}

@media (min-width: 768px) {
    .not-desktop {
        display: none;
    }
    .header-icecream {
        background-image: url(/assets/icecream-cone-header.png);
        background-position-x: 90% !important;
    }
    /** Menu **/
    .menu {
        width: 120px;
        height: 100vh;
        position: fixed;
        top: 0;
        left: 0;
        background: #fff;
        -webkit-box-shadow: 1px 0px 3px -1px rgba(0, 0, 0, 0.75);
        -moz-box-shadow: 1px 0px 3px -1px rgba(0, 0, 0, 0.75);
        box-shadow: 1px 0px 3px -1px rgba(0, 0, 0, 0.75);
    }

    .menu-wrapper {
        display: flex;
        flex-direction: column;
        align-items: center;
        ul {
            width: 100%;
        }
    }

    li.menu-item svg.logo {
        max-width: 50px;
        &:hover {
            animation: icecream-bounce .4s ease-in-out 0s 1;
            #red {
                animation: icecream-bounce .4s ease-in-out .05s 1;
            }
            #white {
                animation: icecream-bounce .4s ease-in-out .1s 1;
            }
            #yellow {
                animation: icecream-bounce .4s ease-in-out .15s 1;
            }
        }
    }

    .menu-item {
        text-align: center;
        padding: 20px 0;
        a {
            text-decoration: none;
            color: inherit;
            display: block;
        }
        &:hover:not(.logo-item) {
            background: #EAEAEA;
            transition: all .3s;
        }
    }

    #menu-cup {
        height: 38px;
        width: 42px;
    }

    #menu-shop {
        height: 38px;
        width: 42px;
    }

    #menu-bell {
        height: 36px;
        width: 42px;
    }

    #menu-cart {
        height: 38px;
        width: 42px;
        position: relative;
        right: 4px;
    }

    #menu-info {
        height: 38px;
        width: 38px;
    }
}

@media (min-width: 992px) {
    .header-icecream {
        background-position-x: 55%;
    }
}

@media (max-width: 1500px) {
    .container-wide {
        padding: 0 40px;
    }
    .login-logo {
        margin-left: 40px;
        margin-top: 40px;
    }
    .login-wrapper {
        margin: 190px 0 0 0;
    }
}

@keyframes icecream-bounce {
    0% {
        transform: translateY(0px);
    }
    50% {
        transform: translateY(-5px);
    }
    100% {
        transform: translateY(0px);
    }
}