/** Imports **/
@import url("reset.css");
@import url("grid.css");
/** Fonts **/
@import url("../assets/fonts/OpenSans/OpenSans.css");
@import url("../assets/fonts/SketchBlockBold/SketchBlockBold.css");
@import url("../assets/fonts/Lato/Lato.css");
@import url("../assets/fonts/AracneCondensed/AracneCondensed.css");
body {
  background: #4c5466;
  font-family: Lato;
  font-weight: 400;
  font-size: 16px;
  background-image: url("../assets/tavle_bg.jpg");
}

/** Menu **/
.menu {
  width: 120px;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  background: #fff;
  -webkit-box-shadow: 1px 0px 3px -1px rgba(0, 0, 0, 0.75);
  box-shadow: 1px 0px 3px -1px rgba(0, 0, 0, 0.75);
}

.menu-wrapper {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

li.menu-item img.logo {
  max-width: 80%;
}

.menu-item {
  text-align: center;
  padding: 20px 0;
}

.menu-item a {
  text-decoration: none;
  color: inherit;
}

#menu-cup {
  height: 38px;
  width: 42px;
}

#menu-shop {
  height: 38px;
  width: 42px;
}

#menu-bell {
  height: 36px;
  width: 42px;
}

#menu-cart {
  height: 38px;
  width: 42px;
  position: relative;
  right: 4px;
}

#menu-info {
  height: 38px;
  width: 38px;
}

.site-content {
  margin-left: 120px;
}

.header-bg {
  padding-top: 40px;
  background: #31343b;
  background: -webkit-gradient(linear, left top, right top, from(#31343b), to(#444850));
  background: linear-gradient(90deg, #31343b 0%, #444850 100%);
}

.beige {
  background: #F6F2EC;
}

.main-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main-button a {
  border: 2px solid #fff;
  border-radius: 23px;
  padding: 12px 25px 14px;
  color: #fff;
  text-decoration: none;
}

.main-button.header-button {
  margin: 0 0 130px;
}

.main-button.eco-button {
  margin: 0 0 0 50px;
}

.main-button.eco-button a {
  color: #202020;
  border-color: #202020;
}

h1.heading {
  font-family: SketchBlockBold;
  font-size: 4.25rem;
  line-height: 1.15;
  color: #fff;
}

h1.heading.header-heading {
  margin: 140px 0 25px;
}

h2.heading {
  font-family: SketchBlockBold;
  font-size: 3.125rem;
  line-height: 1.15;
}

h2.heading.eco-heading {
  margin: 100px 0 30px;
  color: #202020;
  padding: 0 0 0 50px;
}

p.text {
  font-family: Lato;
  font-size: 1.2rem;
  line-height: 1.6;
  color: #fff;
}

p.text.header-text {
  margin: 0 0 40px;
}

p.text.eco-text {
  margin: 0 0 40px;
  padding: 0 0 0 50px;
  color: #202020;
}

.header-icecream {
  background-image: url("../assets/icecream-cone-header.png");
  background-size: contain;
  background-repeat: no-repeat;
  background-position-x: 55%;
}

.fit-to-col {
  width: 100%;
}

.eco-img {
  margin: 100px 0 0;
}

.eco-icon {
  position: absolute;
  right: 0;
  top: 100px;
  height: 80px;
  padding: 5px;
  margin: 10px;
  opacity: .15;
}

.eco-container {
  padding-bottom: 90px;
}

.scroll-for-more {
  width: 120px;
  position: absolute;
  bottom: 40px;
  left: 530px;
  opacity: .6;
}
/*# sourceMappingURL=main.css.map */